@charset "UTF-8";

ul.submenu{
	list-style: none;
	padding: 30px;
}

.submenu > li > a{
	display: block;
	width: 100px;
	/* border: 1px solid red; */
	
	font-size: 20px;
	font-weight: bold;
	
	text-decoration: none;
	color: rgba(0,100,200,0.7);
	
	margin-top: 50px;
	margin-left: 20px;
	
}

.submenu > li > a:hover{
    
    color: rgba(0,100,200,1.0); 	
}




